* {
    background-color: rgb(255, 248, 234);
}
/*Dog Index*/
.createDogs {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dogImage {
    width: 300px;
    padding: 10px; 
    background-color: rgb(24, 23, 22);
    border-radius: 10%;
}
/*Cat Index*/
.createCats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.catImage {
    width: 300px;
    padding: 10px; 
    background-color: rgb(24, 23, 22);
    border-radius: 10%;

}
/*DEFAULT*/
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #60C1FF;
    padding: 20px 20px 20px 20px;
    /* border-radius: 50%;  */
    
};

.dogBanner {
    border-radius: 10%;
}

.pageTop {
    display: flex; 
    flex-direction: row;
}
